> This is the notebook that helped me understand why not to use .csv as an extension, since it can't hold information about the types of columns

During reading, pandas defaults to int64, float64 or object, losing any other types, like int8, string and datetime.

In [1]:
import pandas as pd
import numpy as np
import gc

## Variables

In [2]:
df = pd.read_csv('Types/SIH/RD2012.csv')

# Removing past index
df.drop('Unnamed: 0', axis=1, inplace=True)

df.columns

C:\Users\ricmo\AppData\Local\Temp\ipykernel_24432\3499200186.py:1: DtypeWarning: Columns (62,78,88,89) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Types/SIH/RD2012.csv')

Index(['UF_ZI', 'ANO_CMPT', 'MES_CMPT', 'ESPEC', 'CGC_HOSP', 'N_AIH', 'IDENT',
       'CEP', 'MUNIC_RES', 'NASC', 'SEXO', 'UTI_MES_IN', 'UTI_MES_AN',
       'UTI_MES_AL', 'UTI_MES_TO', 'MARCA_UTI', 'UTI_INT_IN', 'UTI_INT_AN',
       'UTI_INT_AL', 'UTI_INT_TO', 'DIAR_ACOM', 'QT_DIARIAS', 'PROC_SOLIC',
       'PROC_REA', 'VAL_SH', 'VAL_SP', 'VAL_SADT', 'VAL_RN', 'VAL_ACOMP',
       'VAL_ORTP', 'VAL_SANGUE', 'VAL_SADTSR', 'VAL_TRANSP', 'VAL_OBSANG',
       'VAL_PED1AC', 'VAL_TOT', 'VAL_UTI', 'US_TOT', 'DT_INTER', 'DT_SAIDA',
       'DIAG_PRINC', 'DIAG_SECUN', 'COBRANCA', 'NATUREZA', 'NAT_JUR', 'GESTAO',
       'RUBRICA', 'IND_VDRL', 'MUNIC_MOV', 'COD_IDADE', 'IDADE', 'DIAS_PERM',
       'MORTE', 'NACIONAL', 'NUM_PROC', 'CAR_INT', 'TOT_PT_SP', 'CPF_AUT',
       'HOMONIMO', 'NUM_FILHOS', 'INSTRU', 'CID_NOTIF', 'CONTRACEP1',
       'CONTRACEP2', 'GESTRISCO', 'INSC_PN', 'SEQ_AIH5', 'CBOR', 'CNAER',
       'VINCPREV', 'GESTOR_COD', 'GESTOR_TP', 'GESTOR_CPF', 'GESTOR_DT',
       'CNES', 'CNPJ_MANT', 'INFEHOSP', 'CID_ASSO', 'CID_MORTE', 'COMPLEX',
       'FINANC', 'FAEC_TP', 'REGCT', 'RACA_COR', 'ETNIA', 'SEQUENCIA',
       'REMESSA', 'AUD_JUST', 'SIS_JUST', 'VAL_SH_FED', 'VAL_SP_FED',
       'VAL_SH_GES', 'VAL_SP_GES'],
      dtype='object')

In [3]:
dict = {'Coluna':[], 'Espaço_CSV':[]}

memoryUsage = pd.DataFrame(dict)

# Getting the memory usage of the dataframe
for item in df.columns:
    aux = {'Coluna': item, 'Espaço_CSV': [df[item].memory_usage()]}
    df2 = pd.DataFrame(aux)
    memoryUsage = pd.concat([memoryUsage, df2], ignore_index=True)
    
memoryUsage['Espaço_CSV'] = memoryUsage['Espaço_CSV'].astype('Int64')

memoryUsage.loc[:, 'Test_INT'] = pd.NA
memoryUsage.loc[:, 'Test_FLOAT'] = pd.NA
memoryUsage.loc[:, 'Test_CAT'] = pd.NA
memoryUsage.loc[:, 'Test_OBJ'] = pd.NA

memoryUsage.set_index('Coluna', inplace=True)

## Functions

In [6]:
def type_test(df, memoryUsage, col):
    menor_tipo = df[col].dtype
    menor_memo = memoryUsage.loc[col, 'Espaço_CSV']

    # int 
    if df[col].isna().sum() == 0:
        try:
            aux = pd.to_numeric(df[col], downcast='integer')

            a = aux.memory_usage()
            memoryUsage.loc[col, 'Test_INT'] = a

            if menor_memo > a:
                menor_tipo = aux.dtype
                menor_memo = a
        except ValueError:
            print(f'Coluna {col} - int value error')

    # cat
    try: 
        aux = df[col].astype("category")

        a = aux.memory_usage()
        memoryUsage.loc[col, 'Test_CAT'] = a

        if menor_memo > a:
            menor_tipo = aux.dtype
            menor_memo = a
    except ValueError:
        print(f'Coluna {col} - cal value error')

    # float
    try:
        aux = pd.to_numeric(df[col], downcast='float')

        a = aux.memory_usage()
        memoryUsage.loc[col, 'Test_FLOAT'] = a

        if menor_memo > a:
            menor_tipo = aux.dtype
            menor_memo = a
    except ValueError:
        print(f'Coluna {col} - float value error')

    # object
    try: 
        aux = df[col].astype('object')

        a = aux.memory_usage()
        memoryUsage.loc[col, 'Test_OBJ'] = a

        if menor_memo > a:
            menor_tipo = aux.dtype
            menor_memo = a
    except ValueError:
        print(f'Coluna {col} - float value error')

    return menor_tipo
    # df[col] = df[col].astype(menor_tipo)

---

In [10]:
dicionario = {}

for column in df.columns:
    tipo = type_test(df, memoryUsage, column)
    dicionario[column] = tipo

Coluna DIAG_PRINC - int value error
Coluna DIAG_PRINC - float value error
Coluna DIAG_SECUN - float value error
Coluna CID_NOTIF - float value error
Coluna CID_ASSO - float value error
Coluna CID_MORTE - float value error
Coluna REMESSA - int value error
Coluna REMESSA - float value error
Coluna AUD_JUST - float value error
Coluna SIS_JUST - float value error

In [13]:
dicionario

{'UF_ZI': CategoricalDtype(categories=[110000, 110001, 110002, 110003, 110004, 110005, 110006,
                   110008, 110009, 110010,
                   ...
                   522140, 522145, 522150, 522155, 522160, 522170, 522200,
                   522205, 522220, 530000],
 , ordered=False, categories_dtype=int64),
 'ANO_CMPT': CategoricalDtype(categories=[2012], ordered=False, categories_dtype=int64),
 'MES_CMPT': dtype('int8'),
 'ESPEC': dtype('int8'),
 'CGC_HOSP': CategoricalDtype(categories=[   15081000101.0,    29827000128.0,    33940000187.0,
                      38174000658.0,    54015000213.0,    54015000485.0,
                      54015000809.0,    54015001619.0,    54015001708.0,
                      54015001880.0,
                   ...
                   97731889000119.0, 98039795000146.0, 98104193000125.0,
                   98110000000149.0, 98227986000131.0, 98314099000109.0,
                   98339823000140.0, 98416225000128.0, 98591910000190.0,
                   98714876000102.0],
 , ordered=False, categories_dtype=float64),
 'N_AIH': dtype('int64'),
 'IDENT': dtype('int8'),
 'CEP': dtype('int32'),
 'MUNIC_RES': CategoricalDtype(categories=[110001, 110002, 110003, 110004, 110005, 110006, 110007,
                   110008, 110009, 110010,
                   ...
                   530100, 530110, 530120, 530130, 530135, 530140, 530150,
                   530160, 530170, 530180],
 , ordered=False, categories_dtype=int64),
 'NASC': dtype('int32'),
 'SEXO': dtype('int8'),
 'UTI_MES_IN': dtype('int8'),
 'UTI_MES_AN': dtype('int8'),
 'UTI_MES_AL': dtype('int8'),
 'UTI_MES_TO': dtype('int16'),
 'MARCA_UTI': dtype('int8'),
 'UTI_INT_IN': dtype('int8'),
 'UTI_INT_AN': dtype('int8'),
 'UTI_INT_AL': dtype('int8'),
 'UTI_INT_TO': CategoricalDtype(categories=[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,
                    12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,
                    24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,
                    36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,
                    48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,
                    60,  61,  62,  63,  64,  66,  67,  68,  70,  71,  72,  73,
                    74,  76,  77,  79,  80,  82,  83,  85,  86,  89,  91,  93,
                   130, 148],
 , ordered=False, categories_dtype=int64),
 'DIAR_ACOM': dtype('int16'),
 'QT_DIARIAS': dtype('int16'),
 'PROC_SOLIC': CategoricalDtype(categories=[201010038, 201010097, 201010119, 201010127, 201010135,
                   201010143, 201010160, 201010186, 201010208, 201010240,
                   ...
                   506020029, 506020037, 506020045, 506020053, 506020061,
                   506020070, 506020088, 506020096, 506020100, 506020118],
 , ordered=False, categories_dtype=int64),
 'PROC_REA': CategoricalDtype(categories=[201010038, 201010097, 201010119, 201010127, 201010135,
                   201010143, 201010160, 201010186, 201010208, 201010240,
                   ...
                   506020029, 506020037, 506020045, 506020053, 506020061,
                   506020070, 506020088, 506020096, 506020100, 506020118],
 , ordered=False, categories_dtype=int64),
 'VAL_SH': CategoricalDtype(categories=[      0.0,      15.4,     17.12,     17.38,     18.48,
                       18.65,     19.03,      19.4,      20.4,     21.69,
                   ...
                    102321.7, 103031.45, 104019.47, 104685.85, 106313.11,
                   110014.43, 111106.11, 114160.97, 116206.95, 118530.85],
 , ordered=False, categories_dtype=float64),
 'VAL_SP': CategoricalDtype(categories=[     0.0,     1.39,     1.79,     2.04,     2.27,     2.63,
                       2.75,     2.78,     2.89,      3.0,
                   ...
                   16818.56, 17184.54, 17345.54, 17690.74, 17719.21, 18920.17,
                   20279.29, 22037.13, 25896.69, 27747.79],
 , ordered=False, categories_dtype=float64),
 'VAL_SADT': dtype('int8'),
 'VAL_RN': dtype('int8'),
 'VAL_ACOMP': dtype('int8'),
 'VAL_ORTP': dtype('int8'),
 'VAL_SANGUE': dtype('int8'),
 'VAL_SADTSR': dtype('int8'),
 'VAL_TRANSP': dtype('int8'),
 'VAL_OBSANG': dtype('int8'),
 'VAL_PED1AC': dtype('int8'),
 'VAL_TOT': CategoricalDtype(categories=[      0.0,     20.74,     21.98,     22.93,     23.08,
                       23.45,     24.13,     24.74,     24.88,     26.91,
                   ...
                   114523.17, 114563.59, 115538.47, 116177.57, 117804.83,
                   122655.33, 123747.01, 126801.87, 128847.85, 131171.75],
 , ordered=False, categories_dtype=float64),
 'VAL_UTI': CategoricalDtype(categories=[     0.0,    137.2,    139.0,    152.9,   164.63,    166.8,
                     171.49,   185.21,   187.64,    205.8,
                   ...
                   85307.89, 85595.12, 89041.92,  89760.0, 90790.44, 96131.05,
                   98879.61, 100200.1, 106481.6, 107712.0],
 , ordered=False, categories_dtype=float64),
 'US_TOT': CategoricalDtype(categories=[     0.0,     9.87,    10.16,    10.21,    10.26,    10.46,
                      10.47,    10.77,    10.82,    10.88,
                   ...
                   57149.13, 57747.46, 57839.98, 57860.39, 58352.76,  58407.3,
                   62463.97, 62498.48, 63471.84, 66248.35],
 , ordered=False, categories_dtype=float64),
 'DT_INTER': CategoricalDtype(categories=[20080101, 20080104, 20080106, 20080107, 20080111, 20080112,
                   20080113, 20080116, 20080119, 20080121,
                   ...
                   20121222, 20121223, 20121224, 20121225, 20121226, 20121227,
                   20121228, 20121229, 20121230, 20121231],
 , ordered=False, categories_dtype=int64),
 'DT_SAIDA': CategoricalDtype(categories=[20110801, 20110802, 20110803, 20110804, 20110805, 20110806,
                   20110807, 20110808, 20110809, 20110810,
                   ...
                   20121222, 20121223, 20121224, 20121225, 20121226, 20121227,
                   20121228, 20121229, 20121230, 20121231],
 , ordered=False, categories_dtype=int64),
 'DIAG_PRINC': CategoricalDtype(categories=['A000', 'A001', 'A009', 'A010', 'A011', 'A012', 'A013',
                   'A014', 'A020', 'A021',
                   ...
                   'Z968', 'Z969', 'Z975', 'Z978', 'Z980', 'Z981', 'Z982',
                   'Z988', 'Z991', 'Z992'],
 , ordered=False, categories_dtype=object),
 'DIAG_SECUN': CategoricalDtype(categories=['A000', 'A001', 'A009', 'A010', 'A011', 'A012', 'A014',
                   'A020', 'A022', 'A028',
                   ...
                   'Z968', 'Z974', 'Z975', 'Z980', 'Z981', 'Z982', 'Z988',
                   'Z991', 'Z992', 'Z998'],
 , ordered=False, categories_dtype=object),
 'COBRANCA': dtype('int8'),
 'NATUREZA': dtype('int8'),
 'NAT_JUR': CategoricalDtype(categories=[1015.0, 1023.0, 1031.0, 1104.0, 1112.0, 1120.0, 1139.0,
                   1147.0, 1155.0, 1180.0, 1201.0, 1210.0, 2011.0, 2038.0,
                   2054.0, 2062.0, 2135.0, 2143.0, 2232.0, 2240.0, 2305.0,
                   3069.0, 3077.0, 3131.0, 3999.0],
 , ordered=False, categories_dtype=float64),
 'GESTAO': dtype('int8'),
 'RUBRICA': dtype('int8'),
 'IND_VDRL': dtype('int8'),
 'MUNIC_MOV': CategoricalDtype(categories=[110001, 110002, 110003, 110004, 110005, 110006, 110008,
                   110009, 110010, 110011,
                   ...
                   530050, 530060, 530070, 530110, 530120, 530140, 530150,
                   530160, 530170, 530180],
 , ordered=False, categories_dtype=int64),
 'COD_IDADE': dtype('int8'),
 'IDADE': dtype('int8'),
 'DIAS_PERM': dtype('int16'),
 'MORTE': dtype('int8'),
 'NACIONAL': dtype('int16'),
 'NUM_PROC': CategoricalDtype(categories=[], ordered=False, categories_dtype=float64),
 'CAR_INT': dtype('int8'),
 'TOT_PT_SP': dtype('int8'),
 'CPF_AUT': CategoricalDtype(categories=[], ordered=False, categories_dtype=float64),
 'HOMONIMO': dtype('int8'),
 'NUM_FILHOS': dtype('int8'),
 'INSTRU': dtype('int8'),
 'CID_NOTIF': CategoricalDtype(categories=['O000', 'O100', 'O101', 'O102', 'O103', 'O104', 'O109',
                   'O11', 'O13', 'O140', 'O141', 'O149', 'O150', 'O151', 'O152',
                   'O220', 'O225', 'O229', 'O230', 'O231', 'O235', 'O240',
                   'O243', 'O244', 'O262', 'O360', 'O361', 'O363', 'O368',
                   'O903', 'O990', 'O992', 'O993', 'O994', 'O995', 'Z302'],
 , ordered=False, categories_dtype=object),
 'CONTRACEP1': dtype('int8'),
 'CONTRACEP2': dtype('int8'),
 'GESTRISCO': dtype('int8'),
 'INSC_PN': CategoricalDtype(categories=[ -1983804743,  -1838225553,  -1838225549,  -1838225426,
                    -1838225423,  -1838225421,  -1838225418,  -1838225329,
                    -1838225327,  -1838225325,
                   ...
                   923925000000, 924010000000, 924020000000, 924110000000,
                   926720000000, 926770000000, 926790000000, 928580000000,
                   935530000000, 999999999999],
 , ordered=False, categories_dtype=int64),
 'SEQ_AIH5': dtype('int8'),
 'CBOR': CategoricalDtype(categories=[     0, 223115, 223505, 225124, 225125, 225225, 225250,
                   225270, 352210, 354125, 422105, 422115, 515105, 521110,
                   613305, 622505, 622610, 717020, 763325, 764115, 766225,
                   782510, 784205, 791115, 811770, 841815, 848110, 848510],
 , ordered=False, categories_dtype=int64),
 'CNAER': CategoricalDtype(categories=[  0,  13,  15, 151, 154, 176, 181, 193, 213, 222, 283, 361,
                   369, 452, 454, 511, 512, 521, 522, 551, 602, 634, 654, 659,
                   663, 702, 711, 713, 714, 747, 749, 752, 851, 924],
 , ordered=False, categories_dtype=int64),
 'VINCPREV': dtype('int8'),
 'GESTOR_COD': CategoricalDtype(categories=[  0,   1,   2,   3,   4,   5,   7,   8,   9,  10,  11,  14,
                    15,  16,  17,  18,  19,  38,  39,  40,  41,  42,  43,  46,
                    47,  48,  49,  50,  70,  71,  73,  74,  78, 102, 110, 134,
                   135, 136, 137, 138, 139, 142, 143, 144, 146, 166, 167, 168,
                   169, 170, 174, 175, 178, 198, 199, 200, 206, 230, 243],
 , ordered=False, categories_dtype=int64),
 'GESTOR_TP': dtype('int8'),
 'GESTOR_CPF': CategoricalDtype(categories=[          0,     2319756,    20362668,    51916614,
                      67020151,    76147215,    80292615,    97900206,
                     103225234,   104230363,
                   ...
                   97535796834, 97588210915, 97749672834, 97758019749,
                   98313371820, 98324870806, 98325655704, 99065312315,
                   99238047715, 99258030630],
 , ordered=False, categories_dtype=int64),
 'GESTOR_DT': CategoricalDtype(categories=[], ordered=False, categories_dtype=float64),
 'CNES': CategoricalDtype(categories=[     35,      94,     396,     418,     426,     434,
                       477,     485,     566,     582,
                   ...
                   7137818, 8001448, 8001472, 8002959, 8003629, 8004218,
                   8010781, 8013659, 8013926, 8015899],
 , ordered=False, categories_dtype=int64),
 'CNPJ_MANT': CategoricalDtype(categories=[    5959000110.0,     6874000156.0,     7344000122.0,
                       7401000173.0,    38174000143.0,    44834000107.0,
                      79806000117.0,    97857000171.0,   114819000180.0,
                     163055000112.0,
                   ...
                   95587648000112.0, 95589289000132.0, 95610887000146.0,
                   95684544000126.0, 95996104000104.0, 96704333000170.0,
                   97228126000150.0, 97448708000141.0, 97551413000104.0,
                   97553416000179.0],
 , ordered=False, categories_dtype=float64),
 'INFEHOSP': CategoricalDtype(categories=[], ordered=False, categories_dtype=float64),
 'CID_ASSO': CategoricalDtype(categories=['A009', 'A020', 'A021', 'A028', 'A029', 'A040', 'A047',
                   'A048', 'A049', 'A050',
                   ...
                   'Z954', 'Z961', 'Z966', 'Z975', 'Z982', 'Z988', 'Z991',
                   'Z992', 'Z993', 'Z999'],
 , ordered=False, categories_dtype=object),
 'CID_MORTE': CategoricalDtype(categories=['A000', 'A009', 'A010', 'A020', 'A021', 'A028', 'A040',
                   'A041', 'A044', 'A046',
                   ...
                   'Z944', 'Z949', 'Z954', 'Z958', 'Z968', 'Z969', 'Z982',
                   'Z988', 'Z992', 'Z993'],
 , ordered=False, categories_dtype=object),
 'COMPLEX': dtype('int8'),
 'FINANC': dtype('int8'),
 'FAEC_TP': CategoricalDtype(categories=[40010.0, 40014.0, 40016.0, 40018.0, 40023.0, 40024.0,
                   40028.0, 40029.0, 40030.0, 40032.0, 40041.0, 40043.0,
                   40050.0, 40051.0, 40052.0, 40054.0],
 , ordered=False, categories_dtype=float64),
 'REGCT': CategoricalDtype(categories=[0, 7102, 7104, 7105, 7106, 7109, 7110, 7112], ordered=False, categories_dtype=int64),
 'RACA_COR': dtype('int8'),
 'ETNIA': dtype('int16'),
 'SEQUENCIA': dtype('int32'),
 'REMESSA': CategoricalDtype(categories=['HE11000001N201201.DTS', 'HE11000001N201202.DTS',
                   'HE11000001N201203.DTS', 'HE11000001N201204.DTS',
                   'HE11000001N201205.DTS', 'HE11000001N201206.DTS',
                   'HE11000001N201207.DTS', 'HE11000001N201208.DTS',
                   'HE11000001N201209.DTS', 'HE11000001N201210.DTS',
                   ...
                   'HM52222001N201203.DTS', 'HM52222001N201204.DTS',
                   'HM52222001N201205.DTS', 'HM52222001N201206.DTS',
                   'HM52222001N201207.DTS', 'HM52222001N201208.DTS',
                   'HM52222001N201209.DTS', 'HM52222001N201210.DTS',
                   'HM52222001N201211.DTS', 'HM52222001N201212.DTS'],
 , ordered=False, categories_dtype=object),
 'AUD_JUST': CategoricalDtype(categories=[',', ',,', ',,,', ',,,,,,', ',,,,,,,', ',,,,,,,,,,,,,,,,,,,',
                   ',,,,,,,,,,,,,,,,,,,,,,,,,,,',
                   ',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,', ',,,,,......', ',.',
                   ...
                   'VERIFICADA E LIBERADA PELO AUDITORVERIFICADA E LIB',
                   'VN?O INFORMADO', 'VNAO TEM CARTAO NACIONAL DE SAUDE',
                   'VPREENCHIDO PELO HOSPITAL', 'X', 'XX', 'XXX', 'XXXX', 'ZZZ',
                   ']'],
 , ordered=False, categories_dtype=object),
 'SIS_JUST': CategoricalDtype(categories=['04 07 04 002 1', '0PACIENTE NAO APRESENTOU CARTAO DO SUS',
                   '0PACIENTE NAO APRESENTOU CARTAO SUS',
                   '0PACIENTE NAO APRESENTOU O CARTAO DO SUS',
                   '0PACIENTE NAO APRESENTOU O CARTAO SUS', '0RECEM NASCIDO',
                   '0S00000000000', '0SEM INFORMACAO', '134', '135',
                   ...
                   'VIVE SO', 'VRN SEM DOC PARA FAZER CARTAO DO SUS', 'WEB',
                   'XDFB', 'XEROX DO CNS NO ANVESRO',
                   'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX', 'ZDFB',
                   'ZDH', 'paciente morador de rua',
                   'pessoa em situacao de rua sem documentos'],
 , ordered=False, categories_dtype=object),
 'VAL_SH_FED': CategoricalDtype(categories=[    0.0,    3.95,     7.7,   11.05,    15.8,   17.91,
                     18.12,   22.62,   23.92,   24.36,
                   ...
                    919.92,  947.72,   997.2, 1025.76, 1270.15, 1301.78,
                   1343.75,  1541.8, 1630.68, 1746.88],
 , ordered=False, categories_dtype=float64),
 'VAL_SP_FED': CategoricalDtype(categories=[    0.0,    2.67,     6.7,   12.04,   13.99,   15.72,
                     15.73,   16.59,   18.24,   19.05,
                   ...
                     901.3,  965.71, 1003.92, 1003.93, 1030.02, 1108.73,
                   1150.89, 1225.64, 1251.04, 1340.19],
 , ordered=False, categories_dtype=float64),
 'VAL_SH_GES': dtype('int8'),
 'VAL_SP_GES': dtype('int8')}

In [8]:
memoryUsage

            Espaço_CSV  Test_INT Test_FLOAT  Test_CAT  Test_OBJ
Coluna
UF_ZI         53386068  26693100   26693100  13425776  53386068
ANO_CMPT      53386068  13346616   26693100   6673490  53386068
MES_CMPT      53386068   6673374   26693100   6673770  53386068
ESPEC         53386068   6673374   26693100   6674034  53386068
CGC_HOSP      53386068      <NA>   53386068  13505304  53386068
...                ...       ...        ...       ...       ...
SIS_JUST      53386068      <NA>       <NA>  13523352  53386068
VAL_SH_FED    53386068  53386068   26693100  13368624  53386068
VAL_SP_FED    53386068  53386068   26693100  13386112  53386068
VAL_SH_GES    53386068   6673374   26693100   6673490  53386068
VAL_SP_GES    53386068   6673374   26693100   6673490  53386068

[93 rows x 5 columns]

In [9]:
memoryUsage.to_csv('Types/Tipos.csv')

---

## Individual column study

#### UF_ZI

In [6]:
col = 'UF_ZI'

print(f'Null count: {df[col].isna().sum()} out of {len(df[col])} rows')
df[col].agg(['min', 'max'])

Null count: 0 out of 6673242 rows

min    110000
max    530000
Name: UF_ZI, dtype: int64

In [7]:
col = 'UF_ZI'

# int 
df[col] = df[col].astype(np.int32)

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_INT'] = a
print(f'Memory used for int: {a}')

# float
df[col] = df[col].astype(np.float32)

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_FLOAT'] = a
print(f'Memory used for flo: {a}')

# cat
df[col] = df[col].astype("category")

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_CAT'] = a
print(f'Memory used for cat: {a}')

# object
df[col] = df[col].astype('object')

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_OBJ'] = a
print(f'Memory used for obj: {a}')

Memory used for int: 26693100
Memory used for flo: 26693100
Memory used for cat: 13402856
Memory used for obj: 53386068

In [8]:
memoryUsage.loc['UF_ZI']

Espaço_CSV    53386068
Test_INT      26693100
Test_FLOAT    26693100
Test_CAT      13402856
Test_OBJ      53386068
Name: UF_ZI, dtype: object

In [9]:
df['UF_ZI'] = df['UF_ZI'].astype("category")

#### ANO_CMPT

In [10]:
col = 'ANO_CMPT'

print(f'Null count: {df[col].isna().sum()} out of {len(df[col])} rows')
df[col].agg(['min', 'max'])

Null count: 0 out of 6673242 rows

min    2012
max    2012
Name: ANO_CMPT, dtype: int64

In [11]:
col = 'ANO_CMPT'

# int 
df[col] = df[col].astype(np.int16)

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_INT'] = a

# cat
df[col] = df[col].astype("category")

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_CAT'] = a

# float
df[col] = df[col].astype(np.float16)

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_FLOAT'] = a

# object
df[col] = df[col].astype('object')

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_OBJ'] = a

memoryUsage.loc[col]

Espaço_CSV    53386068
Test_INT      13346616
Test_FLOAT    13346616
Test_CAT       6673460
Test_OBJ      53386068
Name: ANO_CMPT, dtype: object

In [12]:
df['ANO_CMPT'] = df['ANO_CMPT'].astype("category")

#### MES_CMPT

In [13]:
col = 'MES_CMPT'

print(f'Null count: {df[col].isna().sum()} out of {len(df[col])} rows')
df[col].agg(['min', 'max'])

Null count: 0 out of 6673242 rows

min     1
max    12
Name: MES_CMPT, dtype: int64

In [14]:
col = 'MES_CMPT'

# int 
df[col] = df[col].astype(np.int8)

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_INT'] = a

# cat
df[col] = df[col].astype("category")

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_CAT'] = a

# float
df[col] = df[col].astype(np.float16)

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_FLOAT'] = a

# object
df[col] = df[col].astype('object')

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_OBJ'] = a

memoryUsage.loc[col]

Espaço_CSV    53386068
Test_INT       6673374
Test_FLOAT    13346616
Test_CAT       6673574
Test_OBJ      53386068
Name: MES_CMPT, dtype: object

In [15]:
df['MES_CMPT'] = df['MES_CMPT'].astype(np.int8)

#### ESPEC

In [16]:
col = 'ESPEC'

print(f'Null count: {df[col].isna().sum()} out of {len(df[col])} rows')
df[col].agg(['min', 'max'])

Null count: 0 out of 6673242 rows

min     1
max    14
Name: ESPEC, dtype: int64

In [17]:
col = 'ESPEC'

# int 
df[col] = df[col].astype(np.int8)

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_INT'] = a

# cat
df[col] = df[col].astype("category")

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_CAT'] = a

# float
df[col] = df[col].astype(np.float16)

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_FLOAT'] = a

# object
df[col] = df[col].astype('object')

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_OBJ'] = a

memoryUsage.loc[col]

Espaço_CSV    53386068
Test_INT       6673374
Test_FLOAT    13346616
Test_CAT       6673719
Test_OBJ      53386068
Name: ESPEC, dtype: object

In [18]:
df['ESPEC'] = df['ESPEC'].astype(np.int8)

#### CGC_HOSP

In [20]:
col = 'CGC_HOSP'

print(f'Null count: {df[col].isna().sum()} out of {len(df[col])} rows')
df[col].agg(['min', 'max'])

Null count: 1583013 out of 6673242 rows

min    1.508100e+10
max    9.871488e+13
Name: CGC_HOSP, dtype: float64

In [21]:
len(df['CGC_HOSP'].value_counts())

3319

In [22]:
col = 'CGC_HOSP'

# int 
if df[col].isna().sum() == 0:
    df[col] = df[col].astype(np.int8)

    a = df[col].memory_usage()
    memoryUsage.loc[col, 'Test_INT'] = a

# cat
df[col] = df[col].astype("category")

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_CAT'] = a

# float
df[col] = df[col].astype(np.float64)

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_FLOAT'] = a

# object
df[col] = df[col].astype('object')

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_OBJ'] = a

memoryUsage.loc[col]

Espaço_CSV    53386068
Test_INT          <NA>
Test_FLOAT    53386068
Test_CAT      13505304
Test_OBJ      53386068
Name: CGC_HOSP, dtype: object

In [ ]:
df['CGC_HOSP'] = df['CGC_HOSP'].astype("category")

#### N_AIH

In [23]:
col = 'N_AIH'

print(f'Null count: {df[col].isna().sum()} out of {len(df[col])} rows')
df[col].agg(['min', 'max'])

Null count: 0 out of 6673242 rows

min    1111100015388
max    9912300083587
Name: N_AIH, dtype: int64

In [24]:
col = 'N_AIH'

# int 
if df[col].isna().sum() == 0:
    df[col] = df[col].astype(np.int64)

    a = df[col].memory_usage()
    memoryUsage.loc[col, 'Test_INT'] = a

# cat
df[col] = df[col].astype("category")

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_CAT'] = a

# float
df[col] = df[col].astype(np.float64)

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_FLOAT'] = a

# object
df[col] = df[col].astype('object')

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_OBJ'] = a

memoryUsage.loc[col]

Espaço_CSV     53386068
Test_INT       53386068
Test_FLOAT     53386068
Test_CAT      349677452
Test_OBJ       53386068
Name: N_AIH, dtype: object

In [25]:
df[col] = df[col].astype(np.int64)

#### IDENT

In [26]:
col = 'IDENT'

print(f'Null count: {df[col].isna().sum()} out of {len(df[col])} rows')
df[col].agg(['min', 'max'])

Null count: 0 out of 6673242 rows

min    1
max    5
Name: IDENT, dtype: int64

In [27]:
col = 'IDENT'

# int 
if df[col].isna().sum() == 0:
    df[col] = df[col].astype(np.int8)

    a = df[col].memory_usage()
    memoryUsage.loc[col, 'Test_INT'] = a

# cat
df[col] = df[col].astype("category")

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_CAT'] = a

# float
df[col] = df[col].astype(np.float16)

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_FLOAT'] = a

# object
df[col] = df[col].astype('object')

a = df[col].memory_usage()
memoryUsage.loc[col, 'Test_OBJ'] = a

memoryUsage.loc[col]

Espaço_CSV    53386068
Test_INT       6673374
Test_FLOAT    13346616
Test_CAT       6673456
Test_OBJ      53386068
Name: IDENT, dtype: object

In [28]:
df[col] = df[col].astype(np.int8)

#### CEP

In [41]:
col = 'CEP'

print(f'Null count: {df[col].isna().sum()} out of {len(df[col])} rows')
df[col].agg(['min', 'max'])

Null count: 0 out of 6673242 rows

min     1001000
max    99990000
Name: CEP, dtype: int64

In [62]:
retorno = type_test(df, memoryUsage, 'CEP')
print(retorno)
memoryUsage.loc['CEP']

int32

Espaço_CSV    53386068
Test_INT      26693100
Test_FLOAT    26693100
Test_CAT      41147920
Test_OBJ      53386068
Name: CEP, dtype: object

In [63]:
df['CEP'] = df['CEP'].astype(retorno)

In [64]:
df['CEP'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6673242 entries, 0 to 6673241
Series name: CEP
Non-Null Count    Dtype
--------------    -----
6673242 non-null  int32
dtypes: int32(1)
memory usage: 25.5 MB

#### MUNIC_RES

In [65]:
col = 'MUNIC_RES'

print(f'Null count: {df[col].isna().sum()} out of {len(df[col])} rows')
df[col].agg(['min', 'max'])

Null count: 0 out of 6673242 rows

min    110001
max    530180
Name: MUNIC_RES, dtype: int64

In [67]:
retorno = type_test(df, memoryUsage, 'MUNIC_RES')
print(retorno)
memoryUsage.loc['MUNIC_RES']

category

Espaço_CSV    53386068
Test_INT      26693100
Test_FLOAT    26693100
Test_CAT      13523416
Test_OBJ      53386068
Name: MUNIC_RES, dtype: object

In [68]:
df['MUNIC_RES'] = df['MUNIC_RES'].astype(retorno)

#### NASC

In [69]:
col = 'NASC'

print(f'Null count: {df[col].isna().sum()} out of {len(df[col])} rows')
df[col].agg(['min', 'max'])

Null count: 0 out of 6673242 rows

min    19010117
max    20121230
Name: NASC, dtype: int64

In [72]:
type_test(df, memoryUsage, 'NASC')
memoryUsage.loc['NASC']

Espaço_CSV    53386068
Test_INT      26693100
Test_FLOAT    26693100
Test_CAT      27641116
Test_OBJ      53386068
Name: NASC, dtype: object

In [ ]:
df.NASC.info()

---

In [ ]:
'NASC', 'SEXO', 'UTI_MES_IN', 'UTI_MES_AN',
'UTI_MES_AL', 'UTI_MES_TO', 'MARCA_UTI', 'UTI_INT_IN', 'UTI_INT_AN',
'UTI_INT_AL', 'UTI_INT_TO', 'DIAR_ACOM', 'QT_DIARIAS', 'PROC_SOLIC',
'PROC_REA', 'VAL_SH', 'VAL_SP', 'VAL_SADT', 'VAL_RN', 'VAL_ACOMP',
'VAL_ORTP', 'VAL_SANGUE', 'VAL_SADTSR', 'VAL_TRANSP', 'VAL_OBSANG',
'VAL_PED1AC', 'VAL_TOT', 'VAL_UTI', 'US_TOT', 'DT_INTER', 'DT_SAIDA',
'DIAG_PRINC', 'DIAG_SECUN', 'COBRANCA', 'NATUREZA', 'NAT_JUR', 'GESTAO',
'RUBRICA', 'IND_VDRL', 'MUNIC_MOV', 'COD_IDADE', 'IDADE', 'DIAS_PERM',
'MORTE', 'NACIONAL', 'NUM_PROC', 'CAR_INT', 'TOT_PT_SP', 'CPF_AUT',
'HOMONIMO', 'NUM_FILHOS', 'INSTRU', 'CID_NOTIF', 'CONTRACEP1',
'CONTRACEP2', 'GESTRISCO', 'INSC_PN', 'SEQ_AIH5', 'CBOR', 'CNAER',
'VINCPREV', 'GESTOR_COD', 'GESTOR_TP', 'GESTOR_CPF', 'GESTOR_DT',
'CNES', 'CNPJ_MANT', 'INFEHOSP', 'CID_ASSO', 'CID_MORTE', 'COMPLEX',
'FINANC', 'FAEC_TP', 'REGCT', 'RACA_COR', 'ETNIA', 'SEQUENCIA',
'REMESSA', 'AUD_JUST', 'SIS_JUST', 'VAL_SH_FED', 'VAL_SP_FED',
'VAL_SH_GES', 'VAL_SP_GES'